<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body, canvas {
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body onkeydown="handleKey(event)">
<canvas id="glCanvas" onkeydown="handleKey(event)" style="margin: 0"></canvas>
<%- include('./drawPoints.ejs') %>
<%- include('./js.ejs') %>
<%- include('./keyInput.ejs')%>
</body>
</html>